include README.rst
include AUTHORS
include LICENSE

exclude .gitignore
exclude .gitreview
exclude .coveragerc
exclude .testr.conf
exclude run_tests.sh
exclude tox.ini

recursive-exclude specs *
recursive-exclude tools *
recursive-exclude devstack *
recursive-exclude midonet/neutron/tests *

global-exclude *.pyc
