include README.rst
include LICENSE

exclude .gitignore
exclude .gitreview
exclude .coveragerc
exclude .testr.conf
exclude run_tests.sh
exclude tox.ini
exclude python-networking-midonet.spec

recursive-exclude etc *
recursive-exclude specs *
recursive-exclude tools *
recursive-exclude devstack *
recursive-exclude midonet/neutron/tests *

global-exclude *.pyc
