include README.rst
include AUTHORS
include CONTRIBUTING.rst
include LICENSE
include TESTING.rst
include requirements.txt
include test-requirements.txt
include etc/policy.json
include midonet/neutron/db/migration/alembic.ini
include midonet/neutron/db/migration/alembic_migration/README
include midonet/neutron/db/migration/alembic_migration/script.py.mako

recursive-include midonet/neutron/db/migration/alembic_migration/versions *
recursive-include doc/source *

exclude .gitignore
exclude .gitreview
exclude .coveragerc
exclude .testr.conf
exclude run_tests.sh
exclude tox.ini
exclude doc/source/specs
exclude babel.cfg

recursive-exclude specs *
recursive-exclude tools *
recursive-exclude devstack *
recursive-exclude midonet/neutron/tests *
recursive-exclude rally-jobs *

global-exclude *.pyc
