Source: networking-midonet
Maintainer: MidoNet <midonet-dev@lists.midonet.org>
Section: python
Priority: optional
Standards-version: 3.9.2
Build-Depends: debhelper (>=9), python-dev, python-setuptools

Package: python-neutron-plugin-midonet
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, ${neutron-server:Depends}
Description: MidoNet Neutron Plugin
    This package provides MidoNet networking driver for OpenStack Neutron
