# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
hacking>=3.0.1,<3.1.0 # Apache-2.0
bandit!=1.6.0,>=1.1.0 # Apache-2.0
coverage!=4.4,>=4.0 # Apache-2.0
fixtures>=3.0.0 # Apache-2.0/BSD
flake8-import-order==0.12 # LGPLv3
python-subunit>=1.0.0 # Apache-2.0/BSD
testtools>=2.2.0 # MIT
testresources>=2.0.0 # Apache-2.0/BSD
testscenarios>=0.4 # Apache-2.0/BSD
WebTest>=2.0.27 # MIT
oslotest>=3.2.0 # Apache-2.0
stestr>=1.0.0 # Apache-2.0
reno>=3.1.0 # Apache-2.0
ddt>=1.0.1 # MIT
astroid==2.3.3 # LGPLv2.1
pylint==2.4.4 # GPLv2
isort==4.3.21 # MIT
# Needed to run DB commands in virtualenvs
PyMySQL>=0.7.6 # MIT License
bashate>=0.5.1 # Apache-2.0

cliff!=2.9.0,>=2.8.0 # Apache-2.0
doc8>=0.6.0 # Apache-2.0
sphinx>=2.0.0,!=2.1.0 # BSD
openstackdocstheme>=2.2.1 # Apache-2.0

# OSC
python-openstackclient>=3.12.0 # Apache-2.0
requests-mock>=1.2.0 # Apache-2.0

# os-vif plugin unit tests
os-vif!=1.8.0,>=1.7.0 # Apache-2.0

# bug 1759454
docutils>=0.11  # OSI-Approved Open Source, Public Domain

neutron-vpnaas>=13.0.0.0b1  # Apache-2.0
neutron-dynamic-routing>=13.0.0.0b1  # Apache-2.0
networking-l2gw>=12.0.0  # Apache-2.0
tap-as-a-service>=5.0.0  # Apache-2.0
